{
    "source": {
        "directories": [
            "src/"
        ]
    },
    "logs": {
        "text": "infection.log"
    },
    "mutators": {
        "@default": true,
        "PublicVisibility":false,
        "ProtectedVisibility":false
    },
    "testFramework":"phpunit",
    "bootstrap":"./tests/autoload.php"
}